Django==5.0.4
djangorestframework==3.15.1
redis==5.0.3
kavenegar==1.1.2
django-cors-headers==3.13.0
django-filter==24.2
PyJWT==2.8.0
Pillow==10.3.0
django-extensions==3.2.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
gunicorn==22.0.0
argon2-cffi==21.2.0
django-ckeditor==6.5.0
django-import-export==4.0.0
channels==4.1.0
daphne==4.1.2
channels_redis==4.2.0
django-rest-swagger==2.2.0
drf-yasg==1.21.7
django-environ
djangorestframework-jwt
djangorestframework-simplejwt
whitenoise
boto3
django-storages==1.14.4
starlette